button {
    font-size: 40px;
    padding: 10px;
    margin: 10px;
    border-radius: 25%;
    color: rgb(209, 90, 69);
  margin-right: 62px;
  }
  
  #result {
    font-size: 28px;
    margin-top: 20px;
  }
 h1{
    text-align: center

 }